{% extends 'base.html.twig' %}

{% block title %}Commande | Gestion de Commande{% endblock %}

{% block entete %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
             <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Commande</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ path('commande_index') }}">Commande</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('home') }}">Accueil</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
{% endblock %}

{% block body %}
    <h1>Liste de Commandes</h1>

    <div style="position: absolute; right: 0; margin-top: -50px; margin-right: 20px;">
        <a href="{{ path('commande_new') }}" class="btn btn-success">Nouvelle Commande</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>N°Commande</th>
                <th>Client</th>
                <th>Date de la Commande</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.numc }}</td>
                <td>{{ commande.client.nom }}</td>
                <td>{{ commande.dateComm ? commande.dateComm|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('commande_show', {'id': commande.id}) }}" class="btn btn-info btn-sm" style="margin-bottom: 5px;">Détails</a>
                    <a href="{{ path('commande_edit', {'id': commande.id}) }}" class="btn btn-dark btn-sm" style="margin-bottom: 5px;">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
